table{
  color: #000000;
  text-align: center;
  border-collapse: collapse;
  font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
  width: 16.02vh;
  background-color: #4e494d;
}

td{
  width: 25vw;
  border: 1px solid #4e494d;
}

#inputBox{
  background-color: #8b008b;
  text-align: right;
  width: 100%;
  font-size: 2em;
  color: #000000;
  border: 0px;
}

.digitButton{
  background-color: #ff1493;
}

.operatorButton{
  background-color: #9400d3;
}

.ACButton{
  background-color: #00bfff;
}
